
.about{
    background-color: $secondaryColor;
    position: relative;
    &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-right:100vw solid $transparent;
        border-bottom:8vw solid $primaryColor;
        overflow: hidden;
    }
    &__section {
        display: flex;
        align-items: center;
        position: relative;
    }
    &__image{
        width: 50%;
    }
    &__content{
        position: absolute;
        right: 0;
        width: 55%;
    }
}

