
.about{
    background-color: $secondaryColor;
    position: relative;
    &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-right:100vw solid $transparent;
        border-bottom:8vw solid $primaryColor;
        overflow: hidden;
    }
    &__section {
        display: flex;
        align-items: center;
        position: relative;
        padding: 50px 0;
    }
    &__image{
        width: 30%;
        filter: grayscale(80%);
    }
    &__content{
        // position: absolute;
        font-size: 2rem;
        // right: 0;
        width: 70%;
        padding: 20px 40px;
    }
}


@media(max-width:800px) {
    .about {
        &__section {
            flex-direction: column;
        }
        &__content {
            text-align: center;
            width: 100%;
        }
        &__image {
            width: 50%;
        }
    }
}
