
.contact {
    background-color: $primaryColor;  
    overflow: hidden;
    input, select, textarea {
        color: $typographyColor;
        border: none;
        padding: 10px 10px;
        border: 2px solid $primaryColor;
        border-bottom: 2px solid $primaryAccentColor;
        background: $secondaryColor;
        margin: 10px 0;
        display: block;
        &:focus{
            border: 2px solid $primaryAccentColor;
        }
    } 
    &__formContent {
        padding: 50px 0;
        display: flex;
    }
    &__myForm {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }
    &__aside {
        background-color: $secondaryColor;
        width: 20%;
        height: auto;
    }
    &__senderInfo {
        display: flex;
        justify-content: space-between;
    }
    &__inputContainer {
        display: flex;
        flex-direction: column;
        width: 49%;

    }
    &__emailContent {
        // width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__button {
        @include primaryFont(2rem, black);
        font-weight: bold;
        text-transform: uppercase;
        text-transform: uppercase;
        font-weight: 700;
        width: 100%;
        padding: 20px;
        margin: 10px auto;
        border-radius: 5px;
        color: black; 
        background: $primaryAccentColor;
        border: 2px solid $secondaryColor;
        &:hover {
            color: $primaryAccentColor;
            background: $secondaryColor;
            border: 2px solid $primaryAccentColor;
        }
    }
}

@media (max-width: 600px) {
    .contact {
        &__senderInfo {
            flex-direction: column;
            input {
                width: 100%;
            }
        }
    }
}