
.contact {
    background-color: $primaryColor;  
    overflow: hidden;
    input, select, textarea {
        color: $typographyColor;
        border: none;
        padding: 10px 10px;
        border: 2px solid $primaryColor;
        border-bottom: 2px solid $primaryAccentColor;
        background: $secondaryColor;
        margin: 10px 0;
        display: block;
        overflow: hidden;
        &:focus{
            border: 2px solid $primaryAccentColor;
        }
    } 
    &__formContent {
        padding: 50px 0;
        display: flex;
    }
    &__myForm {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }
    &__info {
        background-color: $secondaryColor;
        border-bottom: 2px solid $primaryAccentColor;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        margin-right: 30px;
        padding: 20px;
        font-size: 2rem;
    }
    &__socialNavList {
        display: flex;
        font-size: 2rem;
    }
    &__socialNavListItem {
        flex: 1 0 auto;
        display: flex;
        a {
            width: 100%;
            // text-align: right;
        }
        &:hover a {
            color: $primaryAccentColor;
        }
    }
    &__senderInfo {
        display: flex;
        justify-content: space-between;
    }
    &__inputContainer {
        display: flex;
        flex-direction: column;
        width: 49%;

    }
    &__emailContent {
        display: flex;
        flex-direction: column;
    }
    &__button {
        @include primaryFont(2rem, black);
        font-weight: bold;
        text-transform: uppercase;
        text-transform: uppercase;
        font-weight: 700;
        width: 100%;
        padding: 20px;
        margin: 10px auto;
        border-radius: 5px;
        color: black; 
        background: $primaryAccentColor;
        border: 2px solid $secondaryColor;
        &:hover {
            color: $primaryAccentColor;
            background: $secondaryColor;
            border: 2px solid $primaryAccentColor;
        }
    }
}

@media (max-width: 900px) {
    .contact {
        &__formContent {
            flex-direction: column;
        }
        &__info {
            margin: 0 0 30px 0;
        }
        &__socialNavList {
            width: 200px;
        }
    }
}

@media (max-width: 600px) {
    .contact {
        &__senderInfo {
            flex-direction: column;
            input {
                width: 100%;
            }
        }
        &__inputContainer {
            width: 100%;
        }
    }
}