
// ================================ Typography Styles ========================================

// font-family: 'Roboto', sans-serif;
// font-family: 'Fira Mono', monospace;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    // overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $typographyColor;
    font-weight: 400;
    font-size: 1.6rem;
    // overflow: hidden;
}

h1 {
    font-size: 3rem;
    line-height: 1
}



@mixin primaryFont($size, $color){
    font-size: $size;
    font-family: 'Roboto', sans-serif;
    color: $color;
    font-weight: 400;
    text-decoration: none;
}

@mixin secondaryFont($size, $color){
    font-size: $size;
    font-family: 'Fira Mono', serif;
    color: $color;
    font-weight: 700;
    text-decoration: none;
}


// ================================ Default Element Styles ===================================

img {
    display: block;
    width: 100%;
}

li,
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

section {
    padding: 50px 0;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

// =================================== Effects =========================================


