
// ================================ Typography Styles ========================================

// font-family: 'Roboto', sans-serif;
// font-family: 'Fira Mono', monospace;

@mixin primary-font($size, $color){
    font-family: 'Roboto', sans-serif;
    color: $color;
    font-weight: 400;
    text-decoration: none;
    font-size: $size;
}

@mixin secondary-font($size, $color){
    font-family: 'Fira Mono', serif;
    color: $color;
    font-weight: 700;
    text-decoration: none;
    font-size: $size;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $typographyColor;
    font-weight: 400;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.6rem;
}


// ================================ Default Element Styles ===================================

img {
    display: block;
    width: 100%;
}

li,
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}
