
.header {
    height: calc(100vh + 100px);
    height: calc(100vh + 120px);
    background-color: $primaryColor;   
    position: relative;
    &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-left:100vw solid $primaryColor;
        border-bottom:8vw solid $secondaryColor;
        overflow: hidden;
    }
    &__container {
        width: 100vw;
        height: 100vh;
        display: flex;
    }
    &__titleName {
        @include primaryFont(3rem, $typographyColor);
        font-weight: bold;
        position: relative;
        margin: auto;
        text-transform: uppercase;
        padding-bottom: 80px;
        &::before{
            content: "";
            position: absolute;
            background-color: $primaryAccentColor;
            height: 4px;    
            animation-name: beforeLineMovement;
            animation-duration: 6s;
            animation-delay: 1s;
            right: 0;
            bottom: 76%;
            animation-fill-mode: forwards; 
        }
        &::after{
            content: "";
            position: absolute;
            background-color: #BFFF53;
            height: 4px;    
            animation-name: afterLineMovement;
            animation-duration: 6s;
            animation-delay: 1s;
            right: 0;
            bottom: 76%;
            animation-fill-mode: forwards; 
        }
    }
    &__title {
        // position: absolute;
        animation-name: rotateHeader;
        animation-delay: 3s;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        display: flex;
        flex-direction: column;
        font-size: 6rem;
        .lastName {
            // animation-name: lastNameGrow;
            // animation-delay: 6s;
            font-size: 9rem;
        }
    }
    &__subheading {
        @include secondaryFont(3rem, $primaryAccentColor);
        text-transform: lowercase;
        transform: rotate(-90deg);
        position: relative;
        right: -21%;
        bottom: 98px;
    }
    &__subheadingAnimation {
        position: relative;
        // width: 100%;
        bottom: -13%;
        animation-delay: 7s;
    }
}






//================= keyFrames =======================

@keyframes afterLineMovement{
    0% {
        width: 0;
        bottom: 76%
    }
    33.33% {
        width: 100%;
        transform: rotate(0);
        bottom: 76%;
    }
    66% {
        transform: rotate(-90deg);
        width: 100%;
    }
    75% {
        transform: rotate(-90deg);
        width: 100%;
        bottom: 76%;
        right: 3%;
    }
    100% {
        transform: rotate(-135deg);
        width: 5%;
        right: 48.5%;
        bottom: -60%;
    }
}

@keyframes beforeLineMovement{
    0% {
        width: 0;
        bottom: 76%
    }
    33.3333% {
        width: 100%;
        transform: rotate(0);
        bottom: 76%;
    }
    66% {
        transform: rotate(-90deg);
        width: 100%;
    }
    75% {
        transform: rotate(-90deg);
        width: 100%;
        bottom: 76%;
        right: 3%;
    }
    100% {
        transform: rotate(-45deg);
        width: 5%;
        right: 45.5%;
        bottom: -60%
    }
}

@keyframes rotateHeader{
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(-90deg);
    }
}

@keyframes lastNameGrow{
    from {
        font-size: 3rem;
    }
    to{
        font-size: 6rem;
    }
}

