
.header {
    height: calc(100vh + 100px);
    background-color: red;   
    position: relative;
}


.diagonalCut {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 50%);
}