
.siteNav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
    &__button {
        background: none;
        border: none;
        padding: 0;
        position: fixed;
        right: 25px;
        z-index: 9;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50px;
        height: 50px;
        margin: 25px 0px 0 0;  
        transition: all 1s;
        &:hover {
            cursor: pointer;    
        }
    }
    &__navWheel {
        position: fixed;
        z-index: 8;
        right: 25px;
        top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $primaryAccentColor;
        color: $primaryColor;
        transition: all 1s;        
    }
    &__chevron {
        transition: all 1s;
        transform: rotate(0deg);
        position: absolute;
    }
    &__navBar {
        position: relative;
        top: -2px;
        right: -16px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background: linear-gradient(to bottom, rgba(191, 255, 83, 0) 0%, rgba(191, 255, 83, 0) calc(100% - 2px), rgba(191, 255, 83, 1) calc(100% - 2px));
        width: 0;
        height: 17px;
        transition: all 1s;
        transform: rotate(-90deg);
        margin-top: 100%;
        overflow: hidden;
    }
    &__navItem {
        color: white;
        @include primaryFont(1.4rem, white);
        border-radius: 2px;
        text-transform: uppercase;
        visibility: hidden;
        position: relative;
        a {
            overflow: hidden;
            padding: 10px 0;
            &:hover, 
            &:focus{
                color: $primaryAccentColor;
            }
        }
    }
    
    &.active {
        .siteNav {
            &__button {
                margin-top: 0;
            }
            &__navWheel {
                width: 25px;
                height: 25px;
                //need to add something here for focus
            }
            &__chevron {
                transform: rotate(900deg);
            }
            &__siteNav{
                // right: -4px;
                // height: 90vh;
                // width: 90vh;
                // transform: rotate(-90deg);
            }
            &__navBar {
                width: 90vh;
                right: -4px;
                // padding-top: 50px;                
            }
            &__navItem {
                transition-delay: 1s;
                visibility: visible;
                &--home{
                    padding-right: 20px;
                }
            }
        }        
    }
}


@media(max-width: 600px) {
    .siteNav {
        &__button {
            right: 5px;
            margin-right: 0;
        }
        &__navWheel {
            right: 5px;
            margin-right: 0;
        }
        &__navItem {
            a {
                padding: 0;
                padding-top: 20px;
            }
        }

    }
}



