
.siteNav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &__button {
        position: fixed;
        z-index: 9;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50px;
        height: 50px;
        margin: 20px 20px 0 0;  
        transition: all 1s;
        &:hover {
            cursor: pointer;
        }
    }
    &__navWheel {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $primaryAccentColor;
        color: $primaryColor;
        transition: all 1s;        
    }
    &__chevron {
        transition: all 1s;
        transform: rotate(0deg);
        // // animation-name: chevronRotation;
        // animation-duration: 1s;
        // animation-delay: 0;
    }
    &__navBar {
        position: absolute;
        right: 0;
        // padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $primaryAccentColor;
        width: 2px;
        height: 0;
        // visibility: hidden;
        transition: all 1s;
    }
    &__navItem {
        @include secondaryFont(1.2rem, $typographyColor);
        visibility: hidden;
        transform: rotate(-90deg);
        position: relative;
        right: 10px;
        a {
            white-space: nowrap;
            overflow: hidden;
            padding: 10px;
            &:hover{
                color: $primaryAccentColor;
            }
        }
    }

    &.active {
        .siteNav {
            &__navWheel {
                width: 25px;
                height: 25px;
            }
            &__chevron {
                transform: rotate(900deg);
            }
            &__siteNav{
                height: 90vh;
            }
            &__navBar {
                height: 90vh;
                padding-top: 50px;
            }
            &__navItem {
                transition-delay: 1s;
                visibility: visible;
            }
        }        
    }
}


