
.projects {
    background: $secondaryColor;
    position: relative;
    padding: 100px 0 100px 0;
    // height: 1000px;
    &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-right:100vw solid $transparent;
        border-bottom:8vw solid $primaryColor;
        overflow: hidden;
    }
    &__projectDetails {
        padding: 100px 0;
    }
    &__summery {
        display: flex;
        align-items: center;
        padding-bottom: 50px;
        flex-direction: row-reverse;
        position: relative;
        // &.switch{
        //     flex-direction: row;
        //     .projects__description {
        //         text-align: left;
        //         position: absolute;
        //         right: 0;
        //     }
        // }
    }
    &__description {
        position: absolute;
        left: 0;
        background: linear-gradient(rgba(255,255,255, 0.2));
        border-radius: 10px;
        text-align: right;
        width: 45%;
        padding: 20px;
        // display: none;
        h3 {
            @include secondaryFont(3rem, $typographyColor);
            font-weight: 400;
        }
        p {
            font-size: 1.6rem;
        }
        a{
            @include secondaryFont(2rem, $primaryAccentColor);
            text-transform: uppercase;
            text-align: center;
        }
    }
    &__summery.switch{
            flex-direction: row;
            .projects__description {
                text-align: left;
                position: absolute;
                left: auto;
                right: 0;

            }
        }
    &__image {
        width: 80%;
        margin: 0 auto;
    }
    &__imageContainer {
        background-color: $primaryColor;
        width: 60%;
        border-radius: 10px;
        // height: 400px;
    }
    &__tools {
        line-height: 2.5;
        // display: flex;
        // flex-wrap: wrap;
        span {
            background: $primaryAccentColor;
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            padding: 5px;
            margin: 0 2px;
            border-radius: 5px;

        }
    }
}