
.projects {
    background: $secondaryColor;
    position: relative;
    padding: 100px 0 100px 0;
    // height: 1000px;
    &::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-right:100vw solid $transparent;
        border-bottom:8vw solid $primaryColor;
        overflow: hidden;
    }
    &__projectDetails {
        padding: 100px 0;
    }
    &__summery {
        display: flex;
        align-items: center;
        padding-bottom: 50px;
        &.switch{
            flex-direction: row-reverse;
            .projects__description {
                text-align: left;
            }
        }
    }
    &__description {
        text-align: right;
        width: 40%;
        h3 {
            @include secondaryFont(3.5rem, $typographyColor);
            font-weight: 400;
        }
        p {
            font-size: 2rem;
        }
        a{
            @include secondaryFont(2rem, $primaryAccentColor);
            text-transform: uppercase;
            text-align: center;
        }
    }
    &__imageContainer {
        background-color: $primaryColor;
        width: 60%;
        height: 400px;
    }
}