

.sectionHeading {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    &__titleLeader {
        width: 50%;
        align-self: flex-end;
        border-left: 2px solid $primaryAccentColor;
        p {
            padding: 35px 0 0 10px;
            margin: 0;
        }
    }
    &__title {
        display: flex;
        justify-content: center;
        width: 100%;
        h2{
            text-align: center;
            @include secondaryFont(6rem, $typographyColor);
            text-transform: uppercase;
        }
    }
}

